<h1>What day of the week was it?</h1>
<form action='/submitted'>
  <div class="form-group">
     <label for="self">What day of the week would you like to check?</label>
     <input id="self" name="self" class="form-control" type="text" placeholder="Example: 07/23/2015">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
